input:checked + label {
    text-decoration: line-through;
}


#adicionar{
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    vertical-align: middle; /* align the text vertically centered */
}

.estilizarDeleteButton {
    margin-left: 10px;
}

.estilizarDeleteButton , img {
    height: 30px;
    width: 25px;
    padding-left: 0;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}
.estilizarDeleteButton:hover {
    background-color: red;
}