input:checked + label {
    text-decoration: line-through;
}

body {
    text-align: center;
    background-color: rgb(183, 204, 226);
}

#tarefa {
    height: 30px;
    width: 300px;
}

#cabecalho {
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
#cabecalho>img{
    width: 90px;
    border: none;
    vertical-align: middle;
}

#adicionar>img{
    height: 30px;
    width: 25px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

#lista {
    list-style-type: none;
}
li.estilizarLista {
    margin: 20px;
    
}

.estilizarDeleteButton {
    margin-left: 10px;
}

.estilizarDeleteButton >img {
    height: 30px;
    width: 25px;
    padding-left: 0;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}
.estilizarDeleteButton:hover {
    background-color: red;
}